<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearRecataServlet</servlet-name>
        <servlet-class>servlet.CrearRecetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerRecetaServlet</servlet-name>
        <servlet-class>servlet.LeerRecetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarRecetaServlet</servlet-name>
        <servlet-class>servlet.BorrarRecetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerRecetarioServlet</servlet-name>
        <servlet-class>servlet.LeerRecetarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearREcetarioServlet</servlet-name>
        <servlet-class>servlet.CrearRecetarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarRecetarioServlet</servlet-name>
        <servlet-class>servlet.BorrarRecetarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarXSDServlet</servlet-name>
        <servlet-class>servlet.ValidarXSDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarXSD</servlet-name>
        <servlet-class>servlet.ValidarXSD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearRecataServlet</servlet-name>
        <url-pattern>/CrearRecataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerRecetaServlet</servlet-name>
        <url-pattern>/LeerRecetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarRecetaServlet</servlet-name>
        <url-pattern>/BorrarRecetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerRecetarioServlet</servlet-name>
        <url-pattern>/LeerRecetarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearREcetarioServlet</servlet-name>
        <url-pattern>/CrearREcetarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarRecetarioServlet</servlet-name>
        <url-pattern>/BorrarRecetarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarXSDServlet</servlet-name>
        <url-pattern>/ValidarXSDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarXSD</servlet-name>
        <url-pattern>/ValidarXSD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
