/Practica3RESTClass/nbproject/private/
/Practica3RESTClass/build/
/Practica3RESTJavaClient/nbproject/private/
/Practica3RESTJavaClient/build/
/Practica3RESTClass/dist/
/Practica3RESTJavaClient/dist/
/PracticaRestClase/nbproject/private/
/Practica3RestClienteJava/nbproject/private/
/PracticaRestClase/build/
/Practica3RestClienteJava/build/
Practica2SOAPClass/nbproject/private/private.xml
/Practica3RestClase/nbproject/private/
/Practica3RestClase/build/
/Practica3RestClienteJava/dist/
/Prueba BD/BaseDeDatosPruebaPersona/nbproject/private/
/Prueba BD/BaseDeDatosPruebaPersona/build/
/Prueba BD/BaseDeDatosPruebaPersona/dist/
/Prueba BD/PruebaBDUsuario/nbproject/private/
/Prueba BD/PruebaBDUsuario/build/
/Prueba BD/PruebaBDUsuario/dist/
/Practica3RestClase/dist/
/Prueba BD/PruebaCLienteJavaCarlos/nbproject/private/
/Prueba BD/PruebaCarlosServicioWeb/nbproject/private/
/Prueba BD/PruebaCarlosServicioWeb/build/
/Prueba BD/PruebaCarlosServicioWeb/dist/
/Prueba BD/PruebaCarlosServiciosWeb/nbproject/private/
/Practica3RestClienteWeb/nbproject/private/
/Practica3RestClienteWeb/build/
/Practica3RestClienteWeb/dist/
/Practica3RestClase/Practica3RestClase/build/
/Practica3RestClase/Practica3RestClase/dist/
/Practica3RestClase/Practica3RestClase/nbproject/private/