<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearReceta</servlet-name>
        <servlet-class>servlets.crearReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearRecetario</servlet-name>
        <servlet-class>servlets.crearRecetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rmvReceta</servlet-name>
        <servlet-class>servlets.rmvReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarReceta</servlet-name>
        <servlet-class>servlets.listarReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarRecetario</servlet-name>
        <servlet-class>servlets.listarRecetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportRecetario</servlet-name>
        <servlet-class>servlets.exportRecetario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearReceta</servlet-name>
        <url-pattern>/crearReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearRecetario</servlet-name>
        <url-pattern>/crearRecetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmvReceta</servlet-name>
        <url-pattern>/rmvReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarReceta</servlet-name>
        <url-pattern>/listarReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarRecetario</servlet-name>
        <url-pattern>/listarRecetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportRecetario</servlet-name>
        <url-pattern>/exportRecetario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
